<% provide(:title, 'About Us') %>
<h1>Why am I here ?</h1>
<p>
  	This Rails application allow you to see metadatas stored in your pictures and to edit them.

</p>
<p>
	These datas are extracted from EXIF files.
</p>
<p>
	Beyond the funny side, we are trying to inform people about the fact that hidden datas are stored without your knowledge.
</p>
