<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  	Open a picture by clicking on the button "Open picture" and select the picture you want to analyse from your computer.
</p>
<p>
	You can also drag the picture from your computer and drop it into the browser.
</p>
<p>
	Fields below will be automaticly filled by metadatas extracted from the picture you choose.
</p>
