<h3>Your image list</h3>

<% @images.each_with_index do |img, index| %>
  <div class="row">
		<aside class="span3">
			<li>
  	 		<%= link_to image_tag(img.image.thumb('180x180#').url, 
				alt: img.title, class: 'img-thumbnail'),
        img.image.url , target: '_blank' %>

				<a class="btn btn-large btn-info" href="images/<%= index+1 %>">Exif informations</a>
				<br>
				<br>
				<br>
			</li>
		</aside>
		<aside class="span9">
			<h5>Title </h5><%= (img.image.name) %><br><br>
			<h5>Size </h5><%= (img.image.size/1024).round(2 )%> Ko<br>
		</aside>



	</div>
<% end %>
