<footer class="footer">
<a target="_blank" href="https://github.com/ggouzi/Rails_Exif_Information">   
<img border="0" alt="https://github.com/ggouzi/Rails_Exif_Information" src="github.ico">We're on Github
</a>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
